{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Reset Request</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="password-reset-request form">
      <header>Password Reset Request</header>
      {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
      <form action="{% url 'password_reset_request' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="submit" class="button" value="Request OTP">
      </form>
      <div class="login">
        <span class="login"><a href="{% url 'login' %}">Back to Login</a></span>
      </div>
    </div>
  </div>
</body>
</html>
