{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Verify OTP</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="password-reset-verify form">
      <header>Verify OTP</header>
      <form action="{% url 'password_reset_verify' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <input type="submit" class="button" value="Verify OTP">
      </form>
      <div class="login">
        <span class="login"><a href="{% url 'login' %}">Back to Login</a></span>
      </div>
    </div>
  </div>
</body>
</html>
